---
import Project from "../../components/Project.astro";
---

<Project
  title="APCSP Portfolio"
  assignment="Create an online portfolio to display all APCSP projects"
>
  <p>
    This portfolio!
  </p>
</Project>
