---
import Project from "../../components/Project.astro";
---

<Project
  title="Disease Model Project"
  assignment="Create a program that models a real world disease"
>
  <p>
    In this project I created a program that models the spread of rabies in a population where no members are vaccinated
  </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <a href="https://github.com/IACS-CS/systems-project-disease-modeling-dismaldean-s-lair">Source Code</a>
  <iframe
    src="https://iacs-cs.github.io/systems-project-disease-modeling-dismaldean-s-lair/"
    title="Disease Model Project"
    width="100%"
    height="800px"></iframe>
</Project>
