---
import Project from "../../components/Project.astro";
---

<Project
  title="Turtle Mini-Project"
  assignment="Draw something using the turtle library in different parts using functions"
>
  <p>
    In this project I created a program using a turtle javascript library to
    draw a jersey based on the user's input.
  </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <a href="https://github.com/IACS-CS/binary-search-game-teddy">Source Code</a>
</Project>
